*{
    margin:5px;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #f5f5f5;
    font: 14px sans-serif;
    align-items: center;
    color:#333
}

button{
    align-items: center;
    font: 14px;
}

